body {
    font-family: Arial;
    padding: 20px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
}

button {
    cursor: pointer;
}

.product {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
}
